{
  "extends": [
    "react-app",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {"react/jsx-sort-props": "error"}
}
