.header {
  display: flex;
}

.logoLink {
  margin: 0.5rem;
}

.logoLink:visited, .logoLink:hover {
  text-decoration: none;
}

.logo {
  border-radius: 5rem;
  margin-bottom: 0;
  width: 10rem;
}

.tagline {
}

.taglineHeader {
  margin-bottom: 0.5rem;
  margin-top: 0.75rem;
}

.taglineSummary {
  margin-top: 0.5rem;
}
