.navBar {
  display: flex;
}

.navBarBrand {
  align-items: center;
  color: black;
  display: flex;
  text-decoration: none !important;
}

.navBarLogo {
  border-radius: 37.5px;
  height: 75px;
  margin: 0;
  width: 75px;
}

.navBarBrand h4 {
  margin: 0;
}

.navBarLink {
  color: black;
  padding: 15px 15px;
  text-decoration: none !important;
}

.navBarLink h4 {
  margin: 0;
}
